body {
    background-color: #927d6a;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.container {
    background-color: #d0e09d;    
}

.souscadre {
    background-color: #ffe6c9;
}