
.navbar {
  z-index: 999;
  background-color: rgba(0,0,0, .7);

  .navbar-logo {
    font-family: 'Pacifico', cursive;
    margin-right: 50px;

    span:nth-child(1) {
      color: #008e44;
      margin-right: 10px;
    }
    span:nth-child(2) {
      color: #f7f7f7;
    }
    span:nth-child(3) {
      color: #c82935;
    }
  }

  .nav-link {
    font-size: 1.3em;
  }
}

.jumbo {
    min-height: 600px !important;
    background-image: url('../images/mamma1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    background-color: #E8AFA0;
}

.card {
    background-color: rgba(255,230,201,.25);

  img {
    height: auto;
  }
}