.jumbo {
    min-height: 600px !important;
    background-image: url('../images/mamma1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    background-color: #E8AFA0;
}

.facebook,.twitter,.linkedin {
    height:60px;
    width:60px;

}

.card {
    background-color: rgba(255,230,201,.25);
}