.pictures {
  img {
    min-height: 100%;
    object-fit: cover;
  }

  .card {
    .card-img-overlay {
      opacity: 0;
      background-color: rgba(146, 125, 106,.65); // rgba(0,0,0,.65)
      transition: opacity .4s ease-in-out;
    }

    &:hover {
      .card-img-overlay {
        opacity: 1;
      }
    }
  }

}

.navigation-pagination {

  .pagination {
    .page-link {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #404040;
      border-color: rgba(146, 125, 106,.25);
      background-color: rgba(255, 230, 201,.6);

      i {
        color: #404040;
      }
    }

    .active .page-link {
      color: white;
      background-color: rgba(0, 0, 0,.7);
    }
  }
}