.restaurant-card {
  background-color: rgba(255,230,201,.25);

  h3 {
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
      fill: #D0E09D;
      height: 20px;
      width: 20px;
    }
  }
}

.calendar {

  .date {
    border: 2px solid #917d6b !important;

    .day {
      color: rgba(0,0,0, .6);
    }

    .hour {
      color: lighten(#FFE6C9, 10);
    }

  }
}