body {
  background-color: #927D6A;
  font-family: 'Merienda', cursive;
}

.page-title {
  color: rgba(0,0,0, .7);
}

.page-sub-title {
  color: rgba(0,0,0, .6);
}

@import "pictures.scss";
@import "home.scss";
@import "pictures.scss";
@import "restaurant.scss";