body {
  background-color: #927d6a;
  font-family: 'Merienda', cursive;
}

.page-title {
  color: rgba(0,0,0, .7);
}

.page-sub-title {
  color: rgba(0,0,0, .6);
}

.social {
  z-index: 999;
  background-color: rgba(0,0,0, .7);
}

@import "formulaire.scss";
@import "home.scss";
@import "menu.scss";
@import "pictures.scss";
@import "restaurant.scss";